.introCover{
  overflow: hidden;
  margin-top: -50px;
  video{
    position: fixed;
   min-width: 100%;
   min-height: 100%;
   width: auto;
   height: auto;
   z-index: -100;overflow: hidden;

  }
  svg{
    position: fixed;
   width:0;
   height:0;
   z-index: -1000;overflow: hidden;
  }
  .mainTitle{
    z-index: 1;
    font-size: 200px;
    color: yellow;
    font-family: serif;
    overflow-y: hidden;
    width: 100vw;
    text-align: center;
    transition: 300ms;
    filter: url('#filterSVG');
    color: lightblue;
    &:hover{
      transition: 300ms;
      color: yellow;
      filter: none;
    }
  }
}
section:nth-child(2){
  background-color: black;
}
