.introCover{
  overflow: hidden;
  margin-top: -50px;
  video{
    position: fixed;
   min-width: 100%;
   min-height: 100%;
   width: auto;
   height: auto;
   z-index: -100;overflow: hidden;

  }
  svg{
    position: fixed;
   width:0;
   height:0;
   z-index: -1000;overflow: hidden;
  }
  .mainTitle{
    z-index: 1;
    color: yellow;
    overflow-y: hidden;
    width: 100vw;
    text-align: center;
    transition: 300ms;
    color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.25);
    &:hover{
      transition: 300ms;
      color: white;
      filter: none;
    }
    h1{
      font-size: 200px;
      font-family: serif;
      filter: url('#filterSVG');
      &:hover{
        filter: none;
      }
    }
    h2{
      &:hover{
        transition: 100ms;
      }
    }
  }
}
section:nth-child(2){
  background-color: black;
}
